body {
    background: #cccccc;
    margin: 0;
    padding: 0;
}

.nav-bar {
    margin: 0;
    background-color: #666666;
    overflow: auto;
}

.logo {
    float: left;
    margin: auto;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list > li {
    float: right;
}

.nav-list > li > a, .dropbutton {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list > li > a:hover, .dropdown:hover .dropbutton {
    background-color: cyan;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-text {
    display: block;
    padding: 30px 20px 20px 20px;
    margin: auto;
    margin-top: 50px;
    background-color: lightblue;
    width: 50%;
    border: 5px dashed red;
    border-radius: 50px
}

.title {
    text-align: center;
    margin: 0px;
    text-decoration: overline green dotted 2px;
}

.subtitle {
    text-align: center;
    color: black;
    text-shadow: 1px 1px 3px red, 1px 1px 3px blue;
}

.main-body {
    display: inline-block;
    margin-top: 50px;
}

a { 
    color: navy;
}

a:hover {
    color: gold;
}