body {
    background: #cccccc;
}

.header-text {
    display: block;
    padding-top: 50px;
}

.title {
    text-align: center;
    margin: 0px;
}

.subtitle {
    text-align: center;
    color: red;
}

.main-body {
    display: inline-block;
    margin-top: 50px;
}